PngImage_1 RCDATA "Images\\copy.png"
PngImage_2 RCDATA "Images\\cut.png"
PngImage_3 RCDATA "Images\\delete.png"
PngImage_4 RCDATA "Images\\Edit_RedoHS.png"
PngImage_5 RCDATA "Images\\Edit_UndoHS.png"
PngImage_6 RCDATA "Images\\FindNext_VS.png"
PngImage_7 RCDATA "Images\\Find_VS.png"
PngImage_8 RCDATA "Images\\FloppyDisk.png"
PngImage_9 RCDATA "Images\\paste.png"
PngImage_10 RCDATA "Images\\Printer.png"
PngImage_11 RCDATA "Images\\search.png"
